
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

body{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;

}

.navbar a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;


}
.navbar a:hover{
    color: rgb(255, 0, 0);

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    text-align: center;
    padding-top: 80px;
    color: black;
}

section {
    padding: 40px;
    max-width: 1050px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

.project {
    margin-bottom: 40px;
}

.project img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;

}

.project h3 {
    color: black;
}

.project p {
    color: black;
}
@media(max-width:1000px){
    .navbar a {
        font-size: 35px;
        color: black;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: .3s;
    
    
    }
    .head {
        text-align: center;
        padding-top: 200px;
        color: black;
    }
}