
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

body{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;

}

.navbar a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;


}
.navbar a:hover{
    color: rgb(255, 0, 0);

}
img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 50%;
  z-index: -1;
}
.img h1 {
    text-align: center;
    color: black;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



section {
    max-width: 1050px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: rgb(24, 24, 24);
}

.service {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.service h3 {
    color: rgb(43, 43, 43);
}

.service p {
    color: rgb(57, 57, 57);
}

@media(max-width:1000px){
    .navbar a {
        font-size: 35px;
        color: black;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: .3s;
    
    
    }
}